* {
    /* This property allows us to include the padding and border in an element's total width and height. */
    box-sizing: border-box;
    /* This property is used to generate space around an element's content, inside of any defined borders. */
    padding: 0;
    /* This property is used to create space around element, outside of any borders */
    margin: 0;
}

body {
    /* sets the background color of the page */
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    /* This property specifies the font for an element */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    /* This property specifies the color of text. */
    color: #ffffff;
}

.header h1 {
    /* display: inline-block allows to set a width and height on the element respecting top and bottom margins/paddings. */
    display: inline-block;
    /* This property property sets the size of a font */
    font-size: 48px;
}
.header h1 mark{
    background-color: #2a607c;
    color:lightgray; 
}

.header nav {
    padding-top: 15px;
    /* This property sets the right margin of an element */
    margin-right: 20px;
    /* This property defines how an element should float */
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    /* This property specifies the list-item marker in a list */
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    /* This property sets the left margin of an element */
    margin-left: 25px;
}

a {
    color: #ffffff;
    /* This property specifies the decoration added to text */
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    /* This property sets the height of an element. */
    height: 800px;
    /* This property sets the width of an element. */
    width: 100%;
    /* This property sets the bottom margin of an element */
    margin-bottom: 25px;
    /* This property set the background image */
    background-image: url("../images/digital-marketing-meeting.jpg");
    /* This property specifies the size of the background images. */
    background-size: cover;
    /* This property specifies the position of the background images. */
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    /* This property specifies on which sides of an element floating elements are not allowed to float. */
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    /* This property specifies the horizontal alignment of text in an element */
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    /* This property defines the maximum width of an element. */
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {
    /* This property defines the maximum height of an element. */
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
